@model Book_Store.Models.Book

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Author.name)*@
			Author
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Category.name)*@
			Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Publisher.publish_name)*@
			Publisher
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher.publish_name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.ISBN)*@
			ISBN
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.title)*@
			Title
		</dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.publish_date)*@
			Publish date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publish_date)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.prise)*@
			Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prise)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.url)*@
			URL
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
